@model Project02.Pages.SignupModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="container">
    <h2>Sign Up for a Tour Below</h2>
</div>

<div class="container">
    <div class="text-center">
        <p>If nothing is in the contact information section of the table, no one has yet reserved it.</p>
    </div>
</div>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Group Size</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var a in Model.Appointments)
        {
            <tr>
                <td>@a.Start</td>
                <td>@a.GroupName</td>
                <td>
                    @if (a.GroupName is null)
                    {

                    }
                    else
                    {
                        @a.GroupSize
                    }
                </td>
                <td>
                    @if (a.GroupName is null)
                    {
                        <a class="btn btn-primary" asp-page="form" asp-route-id="@a.AppointmentID">Book</a>
                    }
                    else
                    {
                        <a class="btn btn-warning" asp-page="edit" asp-route-id="@a.AppointmentID">Edit</a>
                        <a class="btn btn-danger" @onclick="@(DeleteAppointment(a))">Delete</a>
                    }

                </td>
            </tr>
        }

    </tbody>

</table>